<h1><%= @restaurant.name %></h1>

<ul>
	<li><%= restaurant[:description] %></li>
	<li><%= restaurant[:address] %></li>
	<li><%= restaurant[:phone_number] %></li>
	<li><%= restaurant[:price_range] %></li>
	<!-- <li>menu</li> -->
</ul>

<div class="hours">
	<ul>
		<li>Mon:</li>
	</ul>
</div>
